<div class='navbar navbar-inverse navbar-fixed-top'>
    <div class="container">
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' href='/'>Todo list</a>
        </div>
       
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li>
                    <a data-bind='attr: { href: router.link("/") }, css: { active: route().page === "home-page" }'>
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li>
                    <a data-bind='attr: { href: router.link("/about") }, css: { active: route().page === "about" }'>
                        <span class='glyphicon glyphicon-education'></span> About
                    </a>
                </li>
                <li>
                    <a data-bind='attr: { href: router.link("/contact") }, css: { active: route().page === "contact" }'>
                        <span class='glyphicon glyphicon-th-list'></span> Contact
                    </a>
                </li>
                <li>
                    <a data-bind='attr: { href: router.link("/todo/1") }, css: { active: route().page === "todo-list" }'>
                        <span class='glyphicon glyphicon-th-list'></span> Todo list
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
