@{
    ViewData["Title"] = "Home Page";
}

<div id="header_container"></div>
<div id="page_container" class="container pageEntry">
    <article> Loading....</article>
</div>
<div id="footer_container"></div>


<main></main>
<script src='app/main.js' type="module"></script>