@model DataAccess.Entities.Todo


<div class="text-center">
    <form asp-action="Edit" class="form-inline" name="editForm">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="TodoId" />
        <div class="form-group">
            <div class="checkbox">
                <input asp-for="IsDone" />
            </div>
        </div>
        <div class="form-group">
            <input asp-for="Description" class="form-control" />
        </div>
        <div class="form-group">
            <button type="submit"  name="submitButton" value="Save" class="btn btn-success" title="Save"><span class="glyphicon glyphicon-floppy-disk"></span></button>
        </div>
        <div class="form-group"> 
            <button type="submit" name="submitButton" value="Delete" class="btn btn-danger" title="Delete"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </form>
</div>
<br />
