@model DataAccess.Entities.Todo

@{
    ViewData["Title"] = "Create";
}

<div class="text-center">
    <h1>To-Do <small>List</small></h1>
    <form asp-action="Create" class="form-inline">
        <div asp-validation-summary="All" class="text-danger list-unstyled">@ViewData["errorMsg"]</div>
        <div class="form-group">
            <input asp-for="Description" class="form-control" placeholder="Your task" />
        </div>
        <div class="form-group">
            <button type="submit" value="Create" class="btn btn-primary">Add</button>
        </div>
    </form>
</div>
